body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #EAEBEC

}

main,
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
blockquote p {
    font-style: italic;
}

#img-div {
    padding: 10px 40px;
}

section {
    max-width: 70%;
}

#image {
    display: block;
    max-width: 90%;
    margin: auto;
}

figcaption {
    display: block;
    font-size: 15px;
    max-width: 90%;
    margin: auto;
}

li {
    padding: 8px;
}



#last {
    font-size: 16px;
    font-weight: bold;
}

figure {
    border: 2px solid rgb(185, 184, 184);
    border-radius: 4px;
}